<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artist Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<div class="content-wrapper">
	<h1>Artist</h1>
	<form method="post" action="#" th:action="@{/saveartist}"  th:object= ${artist} >
	<div th:if="${error}" class="alert alert-danger">
        <span th:text="${error}"></span>
    </div>
	
	<p class="error-wrapper">Name: <input type="text" th:field="${artist.artist_name}" />
		<span class="error-icon" th:if="${#fields.hasErrors('artist_name')}" th:title="${#fields.errors('artist_name')}">!</span>
	</p>
	
	
	<div class="option-select">	
			<label for="genrelist">Artist Genre</label>
			 <select id="genrelist" th:field="*{genre}" class="form-control">
       			<option th:each="genre: ${genres}" th:value="${genre.genre_id}" th:text="${genre.genre_name}" th:selected="${artist.genre == genre}"></option>
    		</select>
    		</div>
    <div class="form-btn">	
    		
		<input type="submit" value="Submit" class="btn green-btn"/> <input type="reset" value="Reset" class="btn blue-btn"/>
					<a href="/artists" class="btn green-btn">Back to artist list</a>
	</div>
	</form>
    
</div>
</body>
</html>